.admin-header {
  background-color: #f1f1f1;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-content h1 {
  margin: 0;
  font-size: 24px;
  flex: 1;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.dark-mode-toggle {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.dark-mode-toggle:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .menu-toggle {
      display: block;
  }

  .header-content h1 {
      flex: 2;
      text-align: right;
  }
}
